- @leads.each do |lead|
  %tr 
    %td= lead.name
    %td= link_to "#{lead.website}" , "http://#{lead.website}", target: "_blank"
    %td
      = link_to edit_lead_path(lead), class: 'btn btn-info' do
        %i.fa.fa-eye
      = link_to lead, :method => :delete, :data => {:confirm => 'Are you sure?'},class: 'btn btn-danger' do
        %span.glyphicon.glyphicon-trash
