.container
  .row
    = simple_form_for @event do |f|
      = f.error_notification

      .form-inputs
        .col-md-6
          = f.input :name, placeholder: "Name"
          = f.input :mobile, placeholder: "Mobile"
          = f.input :budget, placeholder: "Budget"
          = f.input :description, placeholder: "Descripiton"
        .col-md-6
          = f.association :user
          = f.association :lead
          = f.association :site
          = f.input  :status
      
      = f.label :follow_up 
      = f.date_select :follow_up, :label => "Follow_up"


      
      .form-actions
        = submit_tag 'Add Event', class: 'btn btn-success'

    

    