- title 'Events'
- if current_user.role == "admin"
  - secondary_link_to 'Event',new_event_path, class: 'btn-default' 
%table.table.table-striped
  %thead
    %tr
      %th #Event Id
      %th FollowUp
      %th Event User
      %th Site
      %th Customer
      %th Mobile
      %th Status
      %th State
      %th
  %tbody
    - @events.each do |event|
      %tr
        %td= event.id
        - if event.follow_up == Date.today
          %td.label-danger
            = event.follow_up
        - else
          %td.label-info
            = event.follow_up
        %td= event.user.email.split('@')[0].capitalize
        %td= event.site.name
        %td= event.name
        %td= event.mobile
        %td= event.status
        %td= event.complete
        %td
          = link_to edit_event_path(event), class: 'btn btn-info' do
            %i.fa.fa-eye
          - if current_user.role == 'admin'
            = link_to event, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger' do
              %i.fa.fa-trash-o

        

 
