!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "zox"
    = include_gon
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
  %body
    .container
      = bootstrap_flash
      = yield
    = javascript_include_tag 'application'
